<a class="event_contents" href="/events/<%= event.id %>">
  <div id="wrapper">
    <div id="content">
      <div class="event_image" style="background-image: url(<%= event.image.url %>); background-size: cover;">

        <div class="event_date">
          <%= event.date %>
        </div>
          <br>
        <div class="event_title">
          <%= event.title %>
        </div>

      </div>
</a>
      <div class="event_info">
        <div class="event_icon clearfix">
          <%= image_tag  event.user.userimage, class: "event_user" %>
          <%= render partial: "events/paticipants", collection: event.user_events %>
          <%= link_to  image_tag("delete.png",:class => "event_menu"), "/events/#{event.id}", method: :delete %>

          <%= link_to  image_tag("edit.png",:class => "event_menu"), "/events/#{event.id}/edit", method: :get%>
        </div>
      </div>

    </div>
  </div>
