<!DOCTYPE html>
<html>
<head>
  <title>On</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>

    <a href="/">
      <div class="title">
        <%= image_tag "font.png", class: "title_logo" %>
      </div>
    </a>

    <div class="navbar">
      <ul>
        <% if user_signed_in? %>
          <a href="/events/new">
            <li>
              <%= image_tag "pen.png", class: "nav_event_icon" %>
            </li>
          </a>

          <a href="/users/<%= current_user.id %>">
            <li>
              <%= image_tag "user.png", class: "nav_user_icon" %>
            </li>
          </a>

          <li>
            <%= link_to  image_tag("logout.png",:class => "nav_event_icon"), destroy_user_session_path, method: :delete%>
          </li>
        <% else %>
          <li>
            <%= link_to  image_tag("login.png",:class => "nav_event_icon"), new_user_session_path %>
            <%= link_to  image_tag("new.png",:class => "nav_event_icon"), new_user_registration_path %>
          </li>
        <% end %>
      </ul>
    </div>

  </header>






<%= yield %>

</body>
</html>
